.w{
  position: relative;
left:150px;
}
.op h2{
  font-size: 2em;
}
.op{

background-color: white;
padding: 20px;
margin: 40px;
width:50%;
}
label{
  text-transform: capitalize;
color: gray;
font-size: 16px;
font-family: 'Poppins', sans-serif;
  margin-left: 10px;
}
input:focus{
  background-color: #f3e3e3;
  border-bottom:  2px solid red;

}
select{
  padding: 7px;
border-radius: 6px;
}
::placeholder{
  color: black;

  font-size: 17px;
}
input{
  transition: border 4s;
margin-top: 5px;
    padding-bottom:20px;
  border: none;
    padding-top: 8px;
  border-bottom:  2px solid gray;
}
.fgx{

  margin: 12px;
}
input,select{

    display: block;
    width: 350px;

margin-bottom: 30px;
  	}
    .btn{
      display: flex;
    }
    .ve{
         width: 100px;
         height: 30px;
         border:none;
         margin-top: 3px;
           border-radius: 8px;
       color: white;
         background-color: red;
    }
 
input[type='submit']{
    padding: 7px;
    margin-right: 10px;
  color: white;
  border-radius: 6px;
  background-color: #4a6fef;
  border: none;
    width: 100px;
}
